<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanking page</title>
    <script>

   </script>
   <Style>
      #btn{
       display:block;
    background-color: gold;
    height: 50px;
    width: 150px;
    border-radius: 25px;}
   </Style>
  
</head>
<body style="background-image: url('thanking image.jpg');text-align: center;
background-repeat:no-repeat;
background-size:cover;" >
 <div >
   <span> <h1 style='text-align: center; '>Thank You &#128512;</h1></span>
   <button id='btn' style='text-align:center;justify-content:center'><a href='/'> Go to Home page</a></button>
 
</div>

</body>
</html>